/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    background: linear-gradient(green 10Vh, lightgrey 0px, lightgrey 100%);
    
}

.main-content {
    width: 80%;
    margin: 0 auto;
    background-color: grey;
    max-height: 850px;
    height: 800px;
    
}

.main-left {
    width: 40%;
    background-color: #dedede;
    border-right: 1px solid black;
    float:left;
    height:100%;
}

.main-right {
    width: 60%;
    background-color: cornflowerblue;
    border-right: 1px solid black;
    float:left;
    height:100%
}